@mixin flex-layout() {
    display: flex;
    align-items: center;
    place-content: center;
}
.schedule-container {
    padding: 1.5rem;
    background-color: #1b1b1b;
    color: white;
    margin-bottom: 0rem;
}

.schedule-header {
    display: flex;

    align-items: center;

    // grid-template-columns: 1fr 1fr 1fr;
    .btn-book-shows {
        height: 3rem;
        width: 7rem;
        margin-bottom: 0.5rem;
        margin-top: 4rem;
        background-color: #24a0ed;
        border: none;
        color: white;
        border-radius: 5px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
            "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        cursor: pointer;
    }

    #schedule {
        position: relative;
        // margin-left: 3rem;
        top: 0;
        margin-top: 5rem;
    }

    #mixing-image {
        height: 40rem;
    }
}

.schedule-list {
    background-color: #242424;
    border-radius: 15px;

    .shows-list-article {
        display: flex;
        justify-content: space-between;
        margin: 0 1rem 0 1rem;
        padding: 1rem 0 1rem 0;
        cursor: default;

        .schedule-event-location {
            color: rgb(212, 55, 212);
        }
    }
}

.shows-list-article:hover {
    // border-top: 2px solid grey;
    // border-bottom: 2px solid grey;
    box-shadow: 10px 10px 10px rgb(27, 27, 27);

    border-radius: 5px;
}

.schedule-event-dates {
    cursor: text;
    .btn-buy-tickets {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
            "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        background-color: grey;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

.schedule-event-location {
    font-size: 1.6rem;
    color: rgb(212, 55, 212);
}
.btn-buy-tickets:hover {
    background-color: #24a0ed;
}
.schedule-events {
    display: flex;
    flex-direction: row;
    align-items: center;
    .schedule-event-location {
        cursor: text;
    }
}
.flyers {
    border-radius: 5px;
    margin-right: 1rem;
    transition: transform 0.25s ease;
}

.flyers:hover {
    border: 1px solid white;

    -webkit-transform: scale(8); /* or some other value */
    transform: scale(8);
    // transform:scale(8);
    backdrop-filter: blur(5px);
}

/* ------------------------------
Media queries for smaller devices
-------------------------------*/

@media (min-width: 1201px) {
    #schedule {
        font-size: 3rem;
    }

    .flyers {
        height: 5rem;
    }
    .btn-book-shows {
        margin-left: 3rem;
    }
    .btn-buy-tickets {
        height: 2.5rem;
        width: 6rem;
    }
}

@media (max-width: 1200px) {
    #schedule {
        font-size: 3rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .schedule-event-location {
        font-size: 1.5rem;
    }
    .flyers {
        height: 5rem;
    }
    .btn-book-shows {
        margin-left: 2rem;
    }
    .btn-buy-tickets {
        height: 2.5rem;
        width: 6rem;
    }
}

@media (max-width: 1024px) {
    #schedule {
        font-size: 3rem;
    }
    h3 {
        font-size: 1.1rem;
    }
    .schedule-event-location {
        font-size: 1.2rem;
    }
    .btn-book-shows {
        margin-left: 2rem;
    }
    .btn-buy-tickets {
        height: 2.5rem;
        width: 6rem;
    }
    .flyers {
        height: 5rem;
    }
    .flyers:hover {
        border: 1px solid white;
        -webkit-transform: scale(6); /* or some other value */
        transform: scale(6);
        backdrop-filter: blur(5px);
    }
}

@media (max-width: 800px) {
    .schedule-event-dates {
        margin-right: 1rem;
    }
    #schedule {
        font-size: 3rem;
    }
    h3 {
        font-size: 1rem;
    }
    .schedule-event-location {
        font-size: 1rem;
    }
    .btn-book-shows {
        margin-left: 2rem;
    }
    .btn-buy-tickets {
        height: 2rem;
        width: 5rem;
    }
    .flyers {
        height: 5rem;
    }
    .flyers:hover {
        border: 1px solid white;
        -webkit-transform: scale(6); /* or some other value */
        transform: scale(6);
        backdrop-filter: blur(5px);
    }
}

@media (max-width: 600px) {
    .schedule-event-dates {
        margin-right: 1rem;
    }
    #schedule {
        font-size: 2rem;
    }
    .btn-book-shows {
        margin-left: 2rem;
    }
    .btn-buy-tickets {
        height: 2rem;
        width: 5rem;
    }
    .flyers {
        height: 4rem;
    }
    .flyers:hover {
        border: 1px solid white;
        -webkit-transform: scale(5); /* or some other value */
        transform: scale(5);
        backdrop-filter: blur(5px);
    }
}

@media (max-width: 375px) {
    .schedule-event-dates {
        h3 {
            font-size: 0.8rem;
        }
    }

    .schedule-events {
        .schedule-event-location {
            font-size: 0.8rem;
        }
    }
    .btn-book-shows {
        margin-left: 2rem;
    }
    .btn-buy-tickets {
        display: flex;
        align-items: center;
        place-content: center;
    }
    .flyers {
        height: 3rem;
    }
    .flyers:hover {
        border: 1px solid white;
        -webkit-transform: scale(4); /* or some other value */
        transform: scale(4);
        backdrop-filter: blur(5px);
    }
}
