@mixin flex-layout() {
    display: flex;
    align-items: center;
    place-content: center;
}
.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 2rem;
    // background-color: #242424;
    color: white;

    label {
        padding: 1rem 0 2px 0;
        display: flex;
    }

    input {        
        height: 2.5rem;
        width: 100%;
        // padding: 1rem;
        display: flex;
        align-items: center;
        place-content: center;
        background-color: rgb(255, 255, 255);
    }

    #email {
        // height: 2.5rem;
        // width: 100%;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        place-content: center;
        background-color: #4267B2;
        border-radius: 5px;
        color: white;
        height: 3rem;
        width: 6rem;
        transition: .2s;
        margin-top: 2rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    }
}

.form-group {
    @include flex-layout();
    background-color: #242424;
    border-radius: 15px;
    padding: 1rem;
    width: 50vw;
}

button:hover {
    transform: scale(.99);
    background-color: #002fff;
}

#signup {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    color: white;
}



/* ------------------------------
Media queries for smaller devices
-------------------------------*/

@media (max-width: 1200px) {
    .nav-list {
      font-size: 1rem; 
    }
      .form-group {
        width: 80%;
     }
    
  }
  @media (max-width: 1024px) {
    .form-group {
        width: 80%;
     }
  }
  @media (max-width: 800px) {
    #about-image {
        height: 20rem;
    }
    .form-group {
        width: 80%;
     }
  }
  @media (max-width: 600px) {
     #signup {
        font-size: 1.5rem;
        
     }
     .form-group {
        width: 80%;
     }
}
    
  
  @media (max-width: 375px) {
    
  }
