
@mixin flex-layout() {
    display: flex;
    align-items: center;
    place-content: center;
}

.about-container {
    position: relative;
    background-color: #1b1b1b;
    color: white;
    padding: 2.6rem;
}

.about-grid-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    // padding-left: 5rem;
}

.header-div {
    border-radius: 10px;
    width: 45vw;

    /*----------------------------------------------  
    dj lotus article body header and text content 
    ----------------------------------------------*/
    #about-name-title {
        @include flex-layout();
        font-size: 2rem;
    }    
}

#about-text {
    @include flex-layout();
    font-size: 1.5rem;
    width: 70%;
}



#about-image {
    height: 30rem;
    border-radius: 10px;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    @include flex-layout();
    flex-direction: column;
    padding: 2px;
}
span:hover {
    border-radius: 10px;
    border: 1px solid rgb(212, 55, 212);
}

/* ------------------------------
Media queries for smaller devices
-------------------------------*/

@media (max-width: 1200px) {
    .nav-list {
      font-size: 1rem;
    }
  }

  @media (max-width: 1024px) {
    #about-text {
        width: 70%;
    }
  }

  @media (max-width: 800px) {
    #about-text {
        width: 90%;
    }

    #about-image {
        height: 20rem;
    }
    
  }

  @media (max-width: 600px) {
     .about-grid-container {
        display: grid;
     }

     .header-div {
        width: 100%;
     }

     #about-text {
        width: 90%;
    }
    
    #about-name-title {
        font-size: 1rem;
    }
     
     #about-image {
        height: 18rem;
    }
}
    
  
  @media (max-width: 375px) {
    
  }
