
@mixin flex-layout() {
    display: flex;
    align-items: center;
    place-content: center;
}

.about-container {
    position: relative;
    background-color: #1b1b1b;
    color: white;
    padding: 2.6rem;
}

.about-section {
    padding-top: 2rem;
    justify-content: space-between;

    .about-grid-container {
        display: flex;
        gap: 2rem;
    }

    #about-name-title {
        display: flex;
        justify-content: center;
        margin-left: 1rem;
    }
}

.header-div {
    @include flex-layout();
    flex-direction: column;
    margin-left: 1rem;
    // border-bottom: 1px solid rgb(212, 55, 212);
    border-radius: 10px;

    /*----------------------------------------------  
    dj lotus article body header and text content 
    ----------------------------------------------*/
    #about-name-title {
        font-size: 2.5rem;
    }
    .about-text-article {
        // width: 50%;
    }
}

.header-div:hover {
    transform: scale(.99);
    border-radius: 10px;
    border: 1px solid rgb(212, 55, 212);
}

.about-image-grid {
    width: 100%;    
}

#about-image {
    height: 25rem;
    border-radius: 10px;
}



