
@mixin flex-layout() {
    display: flex;
    align-items: center;
    place-content: center;
}

.about-container {
    position: relative;

}




.about-section {
    padding-top: 5rem;

    .about-grid-container {
        display: flex;
    }

    #about-name-title {
        display: flex;
        justify-content: center;
        margin-left: 1rem;
    }
}



.header-div {
    @include flex-layout();
    flex-direction: column;
    margin-left: 1rem;

    /*----------------------------------------------  
    dj lotus article body header and text content 
    ----------------------------------------------*/
    .about-text-article {
        width: 50%;
    }
}

.about-image-grid {
    width: 100%;    
}

#about-image {
    height: 25rem;
}

