
@mixin flex-layout() {
    display: flex;
    align-items: center;
    place-content: center;
}

.navigation-container {
    @include flex-layout();
    justify-content: space-between;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100%;
    z-index: 100;
    background-color: rgb(27, 27, 27, .97);
    color: white;
    list-style-type: none;
}

.navigation-container:after {
    display: block;
    border-bottom: 2px solid #38fd07;
    transform: scaleX(0);
    transition: .2s ease-in-out;
}

.navigation-container a { 
    color: white;
    text-decoration: none;    
}

.nav-list {
    @include flex-layout();
    justify-content: center;
    place-content: end;
    height: 100%;
    margin-right: 2rem;
    gap: 1rem;
    font-size: 1.2rem;
    list-style-type: none;
    cursor: pointer;
}

.home-icon:hover {
    transform: scale(.97);
    border-bottom: 1px solid white;
    color: rgb(212, 55, 212)
}

.links:hover {
    transform: scale(.97);
    border-bottom: 1px solid white;
    color: rgb(212, 55, 212)
}

.DJ-title:hover {
    cursor: default;
    // border-bottom: 1px solid white;
    color: rgb(212, 55, 212)
}
.nav-icons {
    padding-top: 4px; 
}

.fb:hover {
    transform: scale(1.6);
    box-shadow: 3px 3px 3px white ;
    border-bottom: 1px solid white;
}


  
@media (max-width: 1200px) {
    .nav-list {
      font-size: 1rem;
    }
  }
  @media (max-width: 1024px) {
    
  }
  @media (max-width: 800px) {
    
  }
  @media (max-width: 600px) {
    .links {
        font-size: .8rem;
    }

    .nav-list {
        place-content: center;
    }
     .DJ-title {
        width: 100%;
        font-size: .7rem;
     }
    }
  
  @media (max-width: 375px) {
    
  }