.static-model-container {
    margin-top: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;

    .static-model-image {
        height: 70vh;
    }
}

@media (max-width: 600px) {
    .static-model-image {
    }
}
@media (max-width: 424px) {
    .static-model-image {
    }
}
@media (max-width: 375px) {
    .static-model-image {
    }
}
