
.footer-wrapper {
    cursor: default;
}
.footer-container {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    // grid-template-columns: 1fr 1fr 1fr;
    height: 10rem;
    background-color: #242424 ;

    article{
        color: white;
    }

    .social-media-links {
        display: flex;
        margin-top: 1rem;
    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
    }
}

#dj-lotus-title {
    color: white;
    // border-bottom: 1px solid grey;
}

#email-phone-icons {
    display: flex;
    padding: 1px;
    

}

#span-socials-icon {
    margin-right: 0.5rem;
    color: purple;
}

#span-media-icons {
    color: white;
    margin-left: 1rem;
}

/* ------------------------------
Media queries for smaller devices
-------------------------------*/

@media (max-width: 1200px) {
 
    
  }
  @media (max-width: 1024px) {
   
  }
  @media (max-width: 800px) {
   
  }
  @media (max-width: 600px) {
   #dj-lotus-title {
    font-size: 1rem;
   }
   #email-phone-icons {
    font-size: .8rem;
   }

   a {
    font-size: .8rem;
   }

   .footer-section {
    margin-right: 2rem;
   }
}
    
  
  @media (max-width: 375px) {
    #dj-lotus-title {
        font-size: 1rem;
       }
       #email-phone-icons {
        font-size: .8rem;
       }
    
       a {
        font-size: .8rem;
       }
    
       .footer-section {
        margin-right: 1rem;
       }
  }
