.App {
  background-color: #1b1b1b;
}



.dj-spline-container {
  height: 90vh;
}
.lotus-container {
  background-color: #1b1b1b;
  margin-top: 100px;
  // transform: translateY(50px);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 1024px) {

  .dj-spline-container {
    height: 70vh
  }
  .lotus-container {
    transform: scale(1) translateY(0px);
  }
}

@media (max-width: 1200px) {
  .dj-spline-container {
    height: 70vh
  }
  .lotus-container {
    transform: scale(1);
  }
}

@media (max-width: 800px) {
  .dj-spline-container {
    height: 70vh
  }
  .lotus-container {
    transform: scale(.8) translateY(100px);
  }
}
@media (max-width: 600px) {
  .dj-spline-container {
    height: 70vh
  }
  .lotus-container {
    height: 50vh;
    transform: scale(.8) translateY(150px);
  }
 
}
@media (max-width: 400px) {
  .dj-spline-container {
    height: 70vh
  }
  .lotus-container {
    display: none;
    transform: scale(.7) translateY(140px);
  }

  .about-container {
    margin-top: 5rem;
  }
}